version: '2.1'
services:
  cloud:
    environment:
      CLOUD_SERVICE_PASSWORD: $CLOUD_SERVICE_PASSWORD
    image: ericlixj82/coinexchangeservice-cloud
    restart: always
    ports:
      - 7000:7000
    logging:
      options:
        max-size: "10m"
        max-file: "10"
